body {
    background: #ddd;
}

.custom-search * {
    box-sizing: border-box;
}

.custom-search {
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-top: 5px;
    max-width: 940px;
    position: relative;
    background: #fff;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 46px;
    font-family: arial;
    box-shadow: 0 0 15px -5px #000;
}

.custom-search.has-results.focus {
    border-radius: 4px 4px 0 0;
}

.custom-search.has-results .custom-search__icon_close {
    display: block;
}

.custom-search__icon_search {
    position: absolute;
    width: 20px;
    z-index: 3;
    left: 10px;
}

.custom-search__icon_close {
    position: absolute;
    width: 20px;
    z-index: 3;
    left: 10px;
    left: calc(70% - 30px);
    cursor: pointer;
    display: none;
}

.custom-search input[type="text"] {
    border: none;
    width: 70%;
    outline: none;
    padding: 11px 10px 9px 10px;
    border-radius: 4px 0px 0px 4px;
    padding-left: 40px;
    font-size: 16px;
    color: #555;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 100%;
    position: relative;
    z-index: 2;
}

.custom-search input[type="text"]::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #ccc;
}

.custom-search input[type="text"]::-moz-placeholder {
    /* Firefox 19+ */
    color: #ccc;
}

.custom-search input[type="text"]:-ms-input-placeholder {
    /* IE 10+ */
    color: #ccc;
}

.custom-search input[type="text"]:-moz-placeholder {
    /* Firefox 18- */
    color: #ccc;
}

.custom-search__region {
    width: 30%;
    border-left: 1px solid #f1f1f1;
    height: 100%;
    position: relative;
    z-index: 2;
    background: #fff;
    border-radius: 0 4px 4px 0;
    display: flex;
    /*justify-content: center;*/
    align-items: center;
    padding-left: 50px;
    color: #ccc;
    cursor: pointer;
}
.custom-search__region_icon {
	width: 20px;
	position: absolute;
	left: 15px;
}

.custom-search__region_name:after {
    content: '';
    right: 20px;
    position: absolute;
    border: solid #ccc;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 4px;
    margin-top: 2px;
 /*   top: 0;
    bottom: 0;*/
    /*margin: auto;*/
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.custom-search__results {
    position: absolute;
    left: 0;
    top: 0;
    top: 100%;
    width: 100%;
    border-radius: 0px 0px 4px 4px;
    max-height: 400px;
    overflow: auto;
    background: #fff;
    box-shadow: 0 0px 15px -5px #000;
}

.custom-search__results_item {
    padding: 10px;
    height: 46px;
    padding-left: 40px;
    border-top: 1px solid #f1f1f1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s;
    cursor: pointer;
}

.custom-search__results_item:first-child {
    /*border-top: none;*/
}

.custom-search__results_item:hover {
    background: #f7f7f7;
}

.custom-search__results_item_name {
    font-size: 14px;
    color: #666;
}

.custom-search__results_item_type {
    font-size: 14px;
    text-align: right;
    color: #aaa;
}